@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --bg-gray: #ddd;
    --text-gray: #4a4a;
    --color-primary: #4d41c0;
    --white: #fff;
    --dark: rgba(53, 53, 53, 0.966);
    --text-litegray: #aaa;
}

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3{
    margin: 0;
}

html,body{
    background-color:var(--dark);
}

header{
    background-color: var(--color-primary);
    color: #ffff;
    height: 60px;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{
    font-size: 24px;
    font-weight: 700;
}

nav a{
    font-size: 12px;
    font-weight: 400;
}

a, a:hover {
    text-decoration: none;
    color:unset;
}

 .dsmovie-contact-container {
     display: flex;
 }

 .dsmovie-contact-container img{
    margin-right: 10px;
}
#dsmvoie-card-list{
    padding: 40px 0;

}
.dsmovie-card{
    width: 400px;
}

.dsmovie-card img{
    width: 50%;
    border-radius: 8px 8px 0 0 ;
}

.dsmove-card-description{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 20px 0;
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    min-height: 150px;
}
.dsmove-card-description h3{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}
.dsmovie-btn2, .dsmovie-btn, .dsmovie-btn:hover, .dsmovie-btn2:hover{
    width: 100px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 5px;
}

.dsmovie-form-container{
    padding: 40px 0;
    max-width: 480px;;
}

.dsmovie-card-section{
    width: 50%;
    border-radius: 8px 8px 0 0 ;
}

.dsmove-card-description-section{
    width: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 20px 0;
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    min-height: 150px;
    
}

.dsmove-card-description-section h3{
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    
}
button, .dsmovie-btn2-section , .dsmovie-btn2-section:hover{
    width: 200px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 5px;
    border: 0;
}
.dsmovie-form{
    width: 100%;
}
.dsmovie-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dsmovie-form-group{
    margin-bottom: 20px;
}
.dsmovie-form-group label{
    color: var(--text-litegray);
    font-size: 12px;
}
